<form [formGroup] = "mainForm">
	<div class="form-group">
		<label for="title">Your Message</label>
		<input formControlName = "message" id="title" class="form-control" type="text" placeholder="e.g. Merry Christmas">
	</div>

	<div class="d-flex justify-content-end align-items-center mt-4">
		<button [disabled] = "mainForm.invalid" class="btn btn-lg btn-success" (click) = "submit()">
			<span style="margin-right: 5px !important;">Create Greeting</span>
			<i class="fas fa-door-open"></i>
		</button>
	</div>
</form>